<div class="new-comment" data-turbolinks='false'>
  <%= form_with model:[photo,comment], remote: true do |f| %>
    <%= f.text_area :comment, size:"90x5", placeholder: "Please enter your comments",class:"comment-form", 'data-turbolinks': false %>
    <div class="form_btn offset-11" data-turbolinks='false'>
    <%= f.submit "Post",class:"btn btn-border", 'data-turbolinks': false %>
    </div>
  <% end %>
</div>