<div class="new-comment">
  <%= form_with model:[photo,comment], remote: true do |f| %>
    <%= f.text_area :comment, size:"90x5", placeholder: "Please enter your comments" %>
    <%= f.submit "送信" %>
  <% end %>
</div>