<% if @model == 'user' %>
  <h3>User search for "<%= @content %>"</h3>
  <%= render 'users/index', users: @records %>
<% elsif @model == 'photo' %>
  <h3>Posts search for "<%= @content %>"</h3>
  <%= render 'photos/index', photos: @records %>
<% end %>