<div class='container mt-3 mb-5'>
  <div class='row'>
    <div class='px-3 mx-auto text-center'>
      
      <div class="unsubscribe-main">
        <h2>本当に退会しますか？</h2>
      </div>
      <div class="unsubscribe-text mt-3">
        <p>
          退会すると、会員登録情報や</br>
          これまでの投稿履歴が閲覧できなくなります。</br>
          退会する場合は、「退会する」をクリックしてください。
        </p>
      </div>
      <div class="unsubscribe-btn mt-5">
        <%= link_to '退会しない', user_path(@user.id),class: "btn-flat-dashed-filled mr-5" %>
        <%= link_to "退会する", withdraw_user_path,class: "btn-flat-dashed-border", method: :patch %>
      </div>

    </div>
  </div>
</div>