<div class="start">
  <p>Everything starts from love...</p>
</div>

<div class="container mt-1 mb-5">
  <div class="row">
    <div class="col text-center"><h1>Welcome to asu</h1></div>
  </div>

  <div class="row">
    <div class="col-12">
      <div id="box">
        <div id="images">
            <div class="image1"><div class="main-visual-content"><p class="main-visual-text">2人のお気に入りの場所</p></div></div>
            <div class="image2"><div class="main-visual-content"><p class="main-visual-text">たくさん遊んで笑ったあの時間</p></div></div>
            <div class="image3"><div class="main-visual-content"><p class="main-visual-text">大切な記念日やサプライズ</p></div></div>
            <div class="image4"><div class="main-visual-content"><p class="main-visual-text">シェアして食べたご飯</p></div></div>
            <div class="image5"><div class="main-visual-content"><p class="main-visual-text">「私たち」を地球の皆さんへ、大切な二人の明日がもっと幸せになりますように</p></div></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col text-center">
      <div class="about-content">
        大切な人と二人で一つのアカウントを共有するSNSです。<br>
        愛するパートナーとの思い出の場所や時間、宝物を記録しませんか？<br>
        また、世界中のカップルのデートスポットや記念日の過ごし方、サプライズ、プレゼントの情報を取得することができます。<br>
        二人で過ごす時間をより楽しく幸せにするための参考にしてみてはいかがでしょう...<br>
      </div>
    </div>
  </div>

  <div class="row mt-5 mb-4">
    <div class="col text-center">
    <a class="love-btn mr-5" href="/users/sign_in">Login</a>
    <a class="love-btn" href="/users/sign_up">Signup</a>
    </div>
  </div>

</div>