<div class="container">
  <h1>about</h1>
  <div class="row">
    <div class="col-12">
      <div id="box">
        <div id="images">
          <div class="image1"></div>
          <div class="image2"></div>
          <div class="image3"></div>
          <div class="image4"></div>
          <div class="image5"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <div class="main_opinion">
        サイト紹介<br>
        サイト紹介
      </div>
    </div>
  </div>
</div>