<div class="container mb-5">
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-xl-9 mx-auto">
      <h2 class="mt-5 mt-lg-0 text-center">Posts</h2>
      <%= render 'index', photos: @photos %>
    </div>
  </div>
</div>