// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*openning animation*/
.start {
	background: #FFF;
	color:#CC3333;
	font-size: 25px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
}
.start p {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	width: 280px;
}

/*about-btn*/
.buttons-coll {
  width: 90%;
  margin: 50px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-ab {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-ab span {
  position: relative;
  display: block;
  color: #CC3333;
  width: 100%;
  height: 100%;
}
.btn-ab:before,
.btn-5:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #CC3333;
  transition: all 0.3s ease;
}
.btn-ab:before {
  height: 50%;
  width: 2px;
}
.btn-ab:after {
  width: 20%;
  height: 2px;
}
.btn-ab:hover:before {
  height: 100%;
}
.btn-ab:hover:after {
  width: 100%;
}
.btn-ab span:before,
.btn-ab span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #CC3333;
  transition: all 0.3s ease;
}
.btn-ab span:before {
  width: 2px;
  height: 50%;
}
.btn-ab span:after {
  width: 20%;
  height: 2px;
}
.btn-ab span:hover:before {
  height: 100%;
}
.btn-ab span:hover:after {
  width: 100%;
}

// topページ
#top-mv{
  position: relative;
  top: 50%;
}


// topのmain画像
#amv{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

#amv ul li{
  list-style: none;
  padding: 0;
}

.img-fluid{
  width: 100%;
  height: 100%;
  max-height: 500px;
}

.top-main{
  color: #CC3333;
}

.top-text{
  color:#C0C0C0;
}

// フェードイン //
.scroll-space{
  box-sizing: border-box;
  overflow: hidden;
}
.fadein {
    opacity: 0;
    transform: translate(0,0);
    transition: all 1.5s;
  &.fadein-left{
      transform: translate(-30px,0);
  }
  &.fadein-right{
      transform: translate(30px,0);
  }
  &.fadein-up{
      transform: translate(0,-30px);
  }
  &.fadein-bottom{
      transform: translate(0,30px);
  }
  &.scrollin{
    opacity: 1 !important;
    transform: translate(0, 0) !important;
  }
}

/*top user*/
.top_user{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px #CC3333	;
    border-bottom: solid 2px #CC3333	;
}
.top_user:before, .top_user:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: #CC3333;
}
.top_user:before {left: 10px;}
.top_user:after {right: 10px;}
