// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*unsubscribe btn*/
.btn-flat-dashed-border {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #CCCCCC;
  border: dashed 1px #CCCCCC;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-dashed-border:hover {
  border-style: dotted;
  color: #FF0000 ;
}

/*cancel btn*/
.btn-flat-dashed-filled {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #CC3333;
  border: dashed 1px #CC3333;
  background: #fff ;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-dashed-filled:hover {
  background: #CC6666	;
  color: #FFF;
}

/*follow btn*/
.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #CC6666;
  border: solid 2px #CC6666	;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: #CC6666	;
  color: white;
}

/*unfollow btn*/
.btn-flat-border-filled {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #fff;
  border: solid 2px #CC6666	;
  border-radius: 3px;
  transition: .4s;
  background: #CC6666	;
}

.btn-flat-border-filled:hover {
  background: #fff;
  color: #CC6666;
}

/*user info*/
.info-table{
  border: solid 2px #CC3333	;
}
